<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label>Name</label>
                   <input for="name" id="name" class="form-control">
                   <div class="col-sm-2">
                       <input type="number" id="amount" class="form-control">
                   </div>
                </div>
    <div class="row">
        <button class="btn btn-success" type="submit">Add</button>
        <button class="btn btn-danger" type="submit">Delete</button>
        <button class="btn btn-primary" type="submit">Reset</button>
    </div>
            </div>
        </form>
    </div>
</div>